.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
       img(src='/cookies.png', height='32px', width='32px')
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/upload') Upload
        li
          a(href='/kitties') kitties
